body
{
  background: linear-gradient(90deg, #D3D3D3, #87CEFA);
}
.vyhuhol
{
  width:300px;
  heigth: 214px;
}
.review
{
  background: #B0C4DE;
  opacity: 0.7;
}
.calcOptions
{
  display: none;
}
#calcfinal
{
  background: #ADD8E6;
}
@media screen and (min-width: 800px)
{ 
  .vyhuhol
  {
    width:700px;
    height: 500px;
  }  
  #head_text
  {
    font-size: 40px;
  }
}